/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html
{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body
{
  margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary
{
  display: block
}

audio, canvas, progress, video
{
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls])
{
  display: none;
  height: 0
}

[hidden], template
{
  display: none
}

a
{
  background-color: transparent
}

a:active, a:hover
{
  outline: 0
}

abbr[title]
{
  border-bottom: 1px dotted
}

b, strong
{
  font-weight: 700
}

dfn
{
  font-style: italic
}

h1
{
  font-size: 2em;
  margin: .67em 0
}

mark
{
  background: #ff0;
  color: #000
}

small
{
  font-size: 80%
}

sub, sup
{
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup
{
  top: -.5em
}

sub
{
  bottom: -.25em
}

img
{
  border: 0
}

svg:not(:root)
{
  overflow: hidden
}

figure
{
  margin: 1em 40px
}

hr
{
  box-sizing: content-box;
  height: 0
}

pre
{
  overflow: auto
}

code, kbd, pre, samp
{
  font-family: monospace;
  font-size: 1em
}

button, input, optgroup, select, textarea
{
  color: inherit;
  font: inherit;
  margin: 0
}

button
{
  overflow: visible
}

button, select
{
  text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit]
{
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled], html input[disabled]
{
  cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner
{
  border: 0;
  padding: 0
}

input
{
  line-height: normal
}

input[type=checkbox], input[type=radio]
{
  box-sizing: border-box;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
{
  height: auto
}

input[type=search]
{
  -webkit-appearance: textfield;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration
{
  -webkit-appearance: none
}

fieldset
{
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend
{
  border: 0;
  padding: 0
}

textarea
{
  overflow: auto
}

optgroup
{
  font-weight: 700
}

table
{
  border-collapse: collapse;
  border-spacing: 0
}

td, th
{
  padding: 0
}

.u-block
{
  display: block !important
}

.u-hidden
{
  display: none !important
}

.u-hiddenVisually
{
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important
}

.u-inline
{
  display: inline !important
}

.u-inlineBlock
{
  display: inline-block !important;
  max-width: 100%
}

.u-table
{
  display: table !important
}

.u-tableCell
{
  display: table-cell !important
}

.u-tableRow
{
  display: table-row !important
}

.u-textBreak
{
  word-wrap: break-word !important
}

.u-textCenter
{
  text-align: center !important
}

.u-textLeft
{
  text-align: left !important
}

.u-textRight
{
  text-align: right !important
}

.u-textInheritColor
{
  color: inherit !important
}

.u-textKern
{
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1, "kern";
  -moz-font-feature-settings: "kern" 1, "kern";
  font-feature-settings: kern\ 1, kern;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal
}

.u-textNoWrap, .u-textTruncate
{
  white-space: nowrap !important
}

.u-textTruncate
{
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  word-wrap: normal !important
}

*, :after, :before
{
  box-sizing: border-box
}

html
{
  height: 100%;
  color: #404040;
  font: 400 1em/1.4 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx),(min-resolution: 144dpi)
{
  html
  {
    font-weight: 300
  }
}

h1
{
  font-weight: 300;
  font-size: 2em;
  -webkit-font-kerning: normal;
  letter-spacing: -.015em;
  line-height: 1;
  margin: .25em 0 .75em
}

@media (min-width: 768px)
{
  h1
  {
    font-size: 2.5em;
    margin: .5em 0 1em
  }
}

h2
{
  font-size: 1.333em;
  margin: 0 0 1.12528em
}

h2, h3
{
  font-weight: 600
}

h3
{
  font-size: 1em
}

h3, p, pre
{
  margin: 0 0 1.5em
}

code, pre
{
  font-family: Menlo, Monaco, monospace
}

code
{
  font-size: .9em;
  font-weight: 400;
  color: #000
}

pre > code
{
  font: inherit;
  color: inherit
}

a
{
  border-bottom: 1px dashed rgba(70, 185, 128, .5);
  color: #46b980;
  text-decoration: none
}

a:focus, a:hover
{
  border-bottom: 1px solid #46b980
}

ol, ul
{
  list-style: square;
  margin: 0 0 1.5em;
  padding: 0 0 0 1.5em
}

li
{
  margin-bottom: .333em
}

figure
{
  margin: 0
}

strong
{
  font-weight: 600
}

.Aligner
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.Aligner-item
{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.Aligner-item--top
{
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start
}

.Aligner-item--bottom
{
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end
}

.Aligner-item--fixed
{
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  max-width: 50%
}

.Browser
{
  font-size: .8em;
  text-align: center
}

.Browser-image
{
  height: 4pc;
  width: 4pc;
  margin: 0 .5em .5em;
  background: url(images/browser-logos.jpg) no-repeat 0 0;
  background-size: auto 100%
}

.Browser--chrome > .Browser-image
{
  background-position: 0 0
}

.Browser--opera > .Browser-image
{
  background-position: -4pc 0
}

.Browser--firefox > .Browser-image
{
  background-position: -8pc 0
}

.Browser--safari > .Browser-image
{
  background-position: -2in 0
}

.Browser--ie > .Browser-image
{
  background-position: -16pc 0
}

.Browser--edge > .Browser-image
{
  background-position: -20pc 0
}

.Button
{
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  display: inline-block;
  padding: .6em 1em;
  background: hsla(31, 15%, 50%, .15);
  color: inherit;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: .8125em;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap
}

.Button:focus
{
  outline: thin dotted #666;
  text-decoration: none
}

.Button:active, .Button:focus, .Button:hover
{
  border: 0;
  background: hsla(31, 15%, 50%, .25);
  text-decoration: none
}

.Button--action
{
  background-color: #46b980;
  color: #fff
}

.Button--action:active, .Button--action:focus, .Button--action:hover
{
  background-color: #389466
}

.Button--wide
{
  padding-right: 1.5em;
  padding-left: 1.5em
}

.Container
{
  max-width: 50em;
  margin: 0 auto
}

.Demo
{
  width: 100%;
  padding: .8em 1em 0;
  background: hsla(31, 15%, 50%, .1);
  border-radius: 3px
}

.Demo:after
{
  content: '\00a0';
  display: block;
  margin-top: 1em;
  height: 0;
  visibility: hidden
}

.Demo--spaced
{
  margin-bottom: 1.5em
}

.Error
{
  padding: 1em 1.5em;
  background: #c00;
  color: #fff;
  font-weight: 700;
  text-align: center
}

.Feature-figure
{
  margin-bottom: .75em;
  border: 1px solid #d9d9d9;
  -webkit-transition: border-color .2s;
  transition: border-color .2s
}

.Feature-image
{
  display: block;
  max-width: 100%;
  height: auto;
  border: 5px solid #fff
}

.Feature-title
{
  margin: 0 0 .5em;
  color: #404040;
  text-align: center;
  -webkit-transition: color .1s;
  transition: color .1s
}

.Feature-description
{
  margin: 0 .75em;
  font-size: .8em
}

.Feature a:active .Feature-figure, .Feature a:focus .Feature-figure, .Feature a:hover .Feature-figure
{
  border-color: #46b980
}

.Feature a:active .Feature-title, .Feature a:focus .Feature-title, .Feature a:hover .Feature-title
{
  color: #46b980
}

.Footer
{
  padding: 24px;
  padding: 1.5rem;
  background: #404040;
  color: #999;
  font-size: .85em;
  text-align: center
}

.Footer a
{
  padding-bottom: 1px;
  border: 0;
  color: #e5e5e5
}

.Footer a:active, .Footer a:focus, .Footer a:hover
{
  color: #fff;
  text-decoration: underline
}

.Footer-credits
{
  margin: 0;
  padding: 0
}

.Footer-credit
{
  display: block;
  margin: 0
}

.Footer-creditSeparator
{
  display: none
}

.Footer-social a, .Footer-social iframe
{
  display: inline-block;
  margin: 0 0 1em;
  vertical-align: top
}

@media (min-width: 576px)
{
  .Footer-credit
  {
    display: inline-block;
    margin: 0 .25em
  }

  .Footer-creditSeparator
  {
    display: inline-block;
    padding: 0 .25em
  }
}

.Grid
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0
}

.Grid-cell
{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.Grid--flexCells > .Grid-cell
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.Grid--top
{
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}

.Grid--bottom
{
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}

.Grid--center
{
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.Grid--justifyCenter
{
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.Grid-cell--top
{
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start
}

.Grid-cell--bottom
{
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end
}

.Grid-cell--center
{
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center
}

.Grid-cell--autoSize
{
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none
}

.Grid--fit > .Grid-cell
{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.Grid--full > .Grid-cell
{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}

.Grid--1of2 > .Grid-cell
{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%
}

.Grid--1of3 > .Grid-cell
{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%
}

.Grid--1of4 > .Grid-cell
{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%
}

@media (min-width: 384px)
{
  .small-Grid--fit > .Grid-cell
  {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
  }

  .small-Grid--full > .Grid-cell
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
  }

  .small-Grid--1of2 > .Grid-cell
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }

  .small-Grid--1of3 > .Grid-cell
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%
  }

  .small-Grid--1of4 > .Grid-cell
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%
  }
}

@media (min-width: 576px)
{
  .med-Grid--fit > .Grid-cell
  {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
  }

  .med-Grid--full > .Grid-cell
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
  }

  .med-Grid--1of2 > .Grid-cell
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }

  .med-Grid--1of3 > .Grid-cell
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%
  }

  .med-Grid--1of4 > .Grid-cell
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%
  }
}

@media (min-width: 768px)
{
  .large-Grid--fit > .Grid-cell
  {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
  }

  .large-Grid--full > .Grid-cell
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
  }

  .large-Grid--1of2 > .Grid-cell
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }

  .large-Grid--1of3 > .Grid-cell
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%
  }

  .large-Grid--1of4 > .Grid-cell
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%
  }
}

.Grid--gutters
{
  margin: -1em 0 1em -1em
}

.Grid--gutters > .Grid-cell
{
  padding: 1em 0 0 1em
}

.Grid--guttersLg
{
  margin: -1.5em 0 1.5em -1.5em
}

.Grid--guttersLg > .Grid-cell
{
  padding: 1.5em 0 0 1.5em
}

.Grid--guttersXl
{
  margin: -2em 0 2em -2em
}

.Grid--guttersXl > .Grid-cell
{
  padding: 2em 0 0 2em
}

@media (min-width: 384px)
{
  .small-Grid--gutters
  {
    margin: -1em 0 1em -1em
  }

  .small-Grid--gutters > .Grid-cell
  {
    padding: 1em 0 0 1em
  }

  .small-Grid--guttersLg
  {
    margin: -1.5em 0 1.5em -1.5em
  }

  .small-Grid--guttersLg > .Grid-cell
  {
    padding: 1.5em 0 0 1.5em
  }

  .small-Grid--guttersXl
  {
    margin: -2em 0 2em -2em
  }

  .small-Grid--guttersXl > .Grid-cell
  {
    padding: 2em 0 0 2em
  }
}

@media (min-width: 576px)
{
  .med-Grid--gutters
  {
    margin: -1em 0 1em -1em
  }

  .med-Grid--gutters > .Grid-cell
  {
    padding: 1em 0 0 1em
  }

  .med-Grid--guttersLg
  {
    margin: -1.5em 0 1.5em -1.5em
  }

  .med-Grid--guttersLg > .Grid-cell
  {
    padding: 1.5em 0 0 1.5em
  }

  .med-Grid--guttersXl
  {
    margin: -2em 0 2em -2em
  }

  .med-Grid--guttersXl > .Grid-cell
  {
    padding: 2em 0 0 2em
  }
}

@media (min-width: 768px)
{
  .large-Grid--gutters
  {
    margin: -1em 0 1em -1em
  }

  .large-Grid--gutters > .Grid-cell
  {
    padding: 1em 0 0 1em
  }

  .large-Grid--guttersLg
  {
    margin: -1.5em 0 1.5em -1.5em
  }

  .large-Grid--guttersLg > .Grid-cell
  {
    padding: 1.5em 0 0 1.5em
  }

  .large-Grid--guttersXl
  {
    margin: -2em 0 2em -2em
  }

  .large-Grid--guttersXl > .Grid-cell
  {
    padding: 2em 0 0 2em
  }
}

.Header
{
  padding: 1.5em;
  background-color: hsla(31, 15%, 50%, .1);
  text-align: center
}

@media (min-width: 768px)
{
  .Header
  {
    padding: 3em 1.5em
  }
}

.Header-title
{
  margin: 0 0 .15em;
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1;
  word-spacing: .08em
}

.Header-title i
{
  font-family: serif;
  font-style: italic;
  font-weight: 400
}

.Header-title a
{
  border: 0;
  color: inherit;
  font-weight: inherit
}

.Header-title a:active, .Header-title a:focus, .Header-title a:hover
{
  text-decoration: none
}

@media (min-width: 768px)
{
  .Header-title
  {
    font-size: 4em
  }
}

.Header-subTitle
{
  margin: 0 0 1.5em;
  font-size: .8em;
  font-weight: 300;
  white-space: nowrap
}

@media (min-width: 768px)
{
  .Header-subTitle
  {
    margin: 1em 0 1.75em;
    font-size: 1.1em
  }
}

.Header-actions
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: .9em
}

@media (min-width: 384px)
{
  .Header-actions
  {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

@media (min-width: 768px)
{
  .Header-actions
  {
    font-size: 1.1em
  }
}

.Header-button:first-child
{
  margin: 0 0 1em
}

@media (min-width: 384px)
{
  .Header-button:first-child
  {
    margin: 0 1em 0 0
  }
}

@media (min-width: 768px)
{
  .Header--cozy
  {
    padding: 1.5em;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }

  .Header--cozy, .Header--cozy .Header-titles
  {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }

  .Header--cozy .Header-titles
  {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
  }

  .Header--cozy .Header-title
  {
    font-size: 1.5em
  }

  .Header--cozy .Header-subTitle
  {
    margin: 0 0 0 1em;
    font-size: .8em;
    font-weight: 300;
    color: gray
  }

  .Header--cozy .Header-actions
  {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: .9em
  }
}

.HolyGrail
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.HolyGrail-footer, .HolyGrail-header
{
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none
}

.HolyGrail-body
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1.5em
}

.HolyGrail-content
{
  margin-top: 1.5em
}

.HolyGrail-nav
{
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1
}

.HolyGrail-ads, .HolyGrail-nav
{
  padding: 1em;
  border-radius: 3px;
  background: hsla(31, 15%, 50%, .1)
}

@media (min-width: 768px)
{
  .HolyGrail-body
  {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }

  .HolyGrail-content
  {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 2em;
    margin: 0
  }

  .HolyGrail-ads, .HolyGrail-nav
  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 12em;
    -ms-flex: 0 0 12em;
    flex: 0 0 12em
  }
}

.Image
{
  display: block;
  width: 40px;
  height: auto;
  margin-top: .2em
}

.Image--tiny
{
  width: 30px
}

@media (min-width: 576px)
{
  .Image
  {
    width: 70px
  }

  .Image--tiny
  {
    width: 40px
  }
}

.InputAddOn
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5em
}

.InputAddOn-field
{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.InputAddOn-field:not(:first-child)
{
  border-left: 0
}

.InputAddOn-field:not(:last-child)
{
  border-right: 0
}

.InputAddOn-item
{
  background-color: hsla(31, 15%, 50%, .1);
  color: #666;
  font: inherit;
  font-weight: 400
}

.InputAddOn-field, .InputAddOn-item
{
  border: 1px solid hsla(31, 15%, 50%, .25);
  padding: .5em .75em
}

.InputAddOn-field:first-child, .InputAddOn-item:first-child
{
  border-radius: 2px 0 0 2px
}

.InputAddOn-field:last-child, .InputAddOn-item:last-child
{
  border-radius: 0 2px 2px 0
}

.Media
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 1em
}

.Media-figure
{
  margin-right: 1em
}

.Media-body
{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.Media-body, .Media-body :last-child
{
  margin-bottom: 0
}

.Media-title
{
  margin: 0 0 .5em
}

.Media--center
{
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.Media--reverse > .Media-figure
{
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  margin: 0 0 0 1em
}

.Notice
{
  background-color: #edffdb;
  color: rgba(0, 0, 0, .6);
  font-size: .9em;
  margin-bottom: 1.5em;
  padding: 1.2em 1.5em
}

.Section
{
  padding: 0 1.5em
}

.Section:nth-child(2n)
{
  background-color: hsla(31, 15%, 50%, .1);
  overflow: hidden
}

.Section:after, .Section:before
{
  content: '\00a0';
  display: block;
  height: 0;
  visibility: hidden
}

.Section:before
{
  margin-bottom: 1.5em
}

.Section:after
{
  margin-top: 1.5em
}

@media (min-width: 768px)
{
  .Section
  {
    padding: 0 2em
  }

  .Section:before
  {
    margin-bottom: 2em
  }

  .Section:after
  {
    margin-top: 2em
  }
}

.Section-heading
{
  text-align: center
}

@media (min-width: 768px)
{
  .Section-list
  {
    padding: 0;
    margin: 0 4em 2em
  }
}

.Site
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%
}

.Site-footer, .Site-header
{
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none
}

.Site-content
{
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 1.5em 1.5em 0;
  width: 100%
}

.Site-content:after
{
  content: '\00a0';
  display: block;
  margin-top: 1.5em;
  height: 0;
  visibility: hidden
}

@media (min-width: 768px)
{
  .Site-content
  {
    padding-top: 2em
  }

  .Site-content:after
  {
    margin-top: 2em
  }
}

.Site-content--full
{
  padding: 0
}

.Site-content--full:after
{
  content: none
}

.u-ieMinHeightBugFix
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.u-full
{
  width: 100% !important
}

.u-1of2, .u-full
{
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  -ms-flex: none !important;
  flex: none !important
}

.u-1of2
{
  width: 50% !important
}

.u-1of3
{
  width: 33.3333% !important
}

.u-1of3, .u-2of3
{
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  -ms-flex: none !important;
  flex: none !important
}

.u-2of3
{
  width: 66.6667% !important
}

.u-1of4
{
  width: 25% !important
}

.u-1of4, .u-3of4
{
  -webkit-box-flex: 0 !important;
  -webkit-flex: none !important;
  -ms-flex: none !important;
  flex: none !important
}

.u-3of4
{
  width: 75% !important
}

@media (min-width: 384px)
{
  .u-small-full
  {
    width: 100% !important
  }

  .u-small-1of2, .u-small-full
  {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important
  }

  .u-small-1of2
  {
    width: 50% !important
  }

  .u-small-1of3
  {
    width: 33.3333% !important
  }

  .u-small-1of3, .u-small-2of3
  {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important
  }

  .u-small-2of3
  {
    width: 66.6667% !important
  }

  .u-small-1of4
  {
    width: 25% !important
  }

  .u-small-1of4, .u-small-3of4
  {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important
  }

  .u-small-3of4
  {
    width: 75% !important
  }
}

@media (min-width: 576px)
{
  .u-med-full
  {
    width: 100% !important
  }

  .u-med-1of2, .u-med-full
  {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important
  }

  .u-med-1of2
  {
    width: 50% !important
  }

  .u-med-1of3
  {
    width: 33.3333% !important
  }

  .u-med-1of3, .u-med-2of3
  {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important
  }

  .u-med-2of3
  {
    width: 66.6667% !important
  }

  .u-med-1of4
  {
    width: 25% !important
  }

  .u-med-1of4, .u-med-3of4
  {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important
  }

  .u-med-3of4
  {
    width: 75% !important
  }
}

@media (min-width: 768px)
{
  .u-large-full
  {
    width: 100% !important
  }

  .u-large-1of2, .u-large-full
  {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important
  }

  .u-large-1of2
  {
    width: 50% !important
  }

  .u-large-1of3
  {
    width: 33.3333% !important
  }

  .u-large-1of3, .u-large-2of3
  {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important
  }

  .u-large-2of3
  {
    width: 66.6667% !important
  }

  .u-large-1of4
  {
    width: 25% !important
  }

  .u-large-1of4, .u-large-3of4
  {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important
  }

  .u-large-3of4
  {
    width: 75% !important
  }
}

.u-smaller
{
  font-size: .85em
}

.u-bigger
{
  font-size: 1.2em
}

.icon-big
{
  font-size: 1.5em
}

.hljs
{
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: #333;
  background: #f8f8f8;
  -webkit-text-size-adjust: none
}

.diff .hljs-header, .hljs-comment
{
  color: #998;
  font-style: italic
}

.css .rule .hljs-keyword, .hljs-keyword, .hljs-request, .hljs-status, .hljs-subst, .hljs-winutils, .nginx .hljs-title
{
  color: #333;
  font-weight: 700
}

.hljs-hexcolor, .hljs-number, .ruby .hljs-constant
{
  color: teal
}

.hljs-doctag, .hljs-string, .hljs-tag .hljs-value, .tex .hljs-formula
{
  color: #d14
}

.hljs-id, .hljs-title, .scss .hljs-preprocessor
{
  color: #900;
  font-weight: 700
}

.hljs-list .hljs-keyword, .hljs-subst
{
  font-weight: 400
}

.hljs-class .hljs-title, .hljs-type, .tex .hljs-command, .vhdl .hljs-literal
{
  color: #458;
  font-weight: 700
}

.django .hljs-tag .hljs-keyword, .hljs-rule .hljs-property, .hljs-tag, .hljs-tag .hljs-title
{
  color: navy;
  font-weight: 400
}

.hljs-attribute, .hljs-name, .hljs-variable, .lisp .hljs-body
{
  color: teal
}

.hljs-regexp
{
  color: #009926
}

.clojure .hljs-keyword, .hljs-prompt, .hljs-symbol, .lisp .hljs-keyword, .ruby .hljs-symbol .hljs-string, .scheme .hljs-keyword, .tex .hljs-special
{
  color: #990073
}

.hljs-built_in
{
  color: #0086b3
}

.hljs-cdata, .hljs-doctype, .hljs-pi, .hljs-pragma, .hljs-preprocessor, .hljs-shebang
{
  color: #999;
  font-weight: 700
}

.hljs-deletion
{
  background: #fdd
}

.hljs-addition
{
  background: #dfd
}

.diff .hljs-change
{
  background: #0086b3
}

.hljs-chunk
{
  color: #aaa
}

pre
{
  border-radius: 3px;
  background: hsla(31, 15%, 50%, .1);
  font-size: .85em;
  margin-bottom: 1.76471em;
  padding: 1.25em 1.5em
}

.twitter-follow-button
{
  width: 230px !important
}

.twitter-color
{
  color: #00aced
}