body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.75px rgba(0, 0, 0, 0.05); }

hr {
  border: none;
  border-top: 1px solid #dadada; }

a {
  text-decoration: none;
  font-weight: 100; }

img {
  width: 100%; }

.select2-container {
  width: 100%; }

.rank-pill {
  background-color: gray;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  font-size: 11px;
  color: white;
  padding: 6px 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.35px; }
  .rank-pill.rank-9 {
    background-color: #2c2c2c;
    color: white; }
  .rank-pill.rank-8 {
    background-color: purple;
    color: white; }
  .rank-pill.rank-7 {
    background-color: #ff243a;
    color: white; }
  .rank-pill.rank-6 {
    background-color: #ffcf64;
    color: black; }

button {
  border: none;
  color: white;
  background-color: #67D971;
  width: 120px;
  height: 40px;
  margin: 20px 0 0 0;
  font-size: 15px; }

#worker-dash-header {
  height: 26px;
  padding: 32px;
  background-color: #277FE2; }
  #worker-dash-header #logo {
    max-width: 200px;
    filter: brightness(0) invert(1); }
  #worker-dash-header #header-account {
    float: right;
    margin-top: 5px; }
    #worker-dash-header #header-account a {
      color: white;
      font-weight: bold;
      margin-left: 30px; }

#worker-dash-body {
  background-color: #FBFBFB;
  color: #555656;
  min-width: 1155px; }
  #worker-dash-body #start-button-and-team {
    height: 110%;
    max-width: 320px;
    background-color: #f8f8f8;
    padding: 0px 25px 20px 20px;
    border-right: 1px solid #dadada; }
    #worker-dash-body #start-button-and-team hr {
      margin: 12px -25px 0 -60px; }
    #worker-dash-body #start-button-and-team #skip-task {
      font-size: 14px;
      font-weight: bold;
      color: #9B9595;
      margin: 10px 0 0px 0;
      display: block;
      text-align: right; }
    #worker-dash-body #start-button-and-team #start-task {
      width: 100%;
      height: 60px;
      outline: none;
      font-weight: bold;
      display: none; }
    #worker-dash-body #start-button-and-team #finish-task {
      width: 100%;
      height: 60px;
      outline: none;
      font-weight: bold;
      background-color: #277FE2;
      display: none; }
    #worker-dash-body #start-button-and-team #team-member-card {
      display: none; }
    #worker-dash-body #start-button-and-team .team-member-card {
      color: #9B9595;
      margin: 30px 0 0 0;
      position: relative;
      border: 1px solid #dadada;
      background-color: #FBFBFB; }
      #worker-dash-body #start-button-and-team .team-member-card.loading {
        display: none; }
        #worker-dash-body #start-button-and-team .team-member-card.loading img {
          margin-left: 126px;
          width: auto;
          height: 60px; }
      #worker-dash-body #start-button-and-team .team-member-card .rank-pill {
        position: absolute;
        top: -8px;
        right: 15px; }
      #worker-dash-body #start-button-and-team .team-member-card .name {
        margin-top: 5px;
        font-weight: bold; }
      #worker-dash-body #start-button-and-team .team-member-card .progress {
        margin-top: 4px;
        color: #67D971;
        width: 100%; }
        #worker-dash-body #start-button-and-team .team-member-card .progress .percent {
          float: left;
          width: 14%; }
        #worker-dash-body #start-button-and-team .team-member-card .progress .bar {
          position: relative;
          top: 2px;
          width: 81%;
          float: left;
          height: 12px;
          background-color: #dadada;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px; }
      #worker-dash-body #start-button-and-team .team-member-card .pic-container img {
        width: 70%;
        margin: 10px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        box-shadow: 0px 0px 10px #dadada; }
      #worker-dash-body #start-button-and-team .team-member-card .rank {
        position: absolute; }
      #worker-dash-body #start-button-and-team .team-member-card .actions {
        text-align: right;
        font-size: 13px;
        margin-right: 10px; }
        #worker-dash-body #start-button-and-team .team-member-card .actions a {
          color: #9B9595; }
          #worker-dash-body #start-button-and-team .team-member-card .actions a:not(:last-child) {
            margin-right: 7px; }
  #worker-dash-body #accept-timer {
    font-size: 2em;
    margin-left: 6px; }
  #worker-dash-body #task-details-loading {
    width: 200px;
    margin: 100px 0 0 200px; }
  #worker-dash-body .task-tab {
    display: none; }
    #worker-dash-body .task-tab .task-details {
      font-size: 16px;
      line-height: 1.4em;
      color: #696f79; }
      #worker-dash-body .task-tab .task-details h1 {
        font-weight: lighter;
        color: #555656;
        margin-bottom: 0; }
    #worker-dash-body .task-tab .to-do-list h1 {
      color: #277FE2;
      font-size: 22px;
      margin-bottom: 40px; }
    #worker-dash-body .task-tab .to-do-list h2 {
      color: #277FE2;
      font-size: 16px;
      margin-bottom: 20px; }
    #worker-dash-body .task-tab .to-do-list .to-do-item .assets a {
      margin-right: 1em;
      font-size: 0.8em;
      color: #277FE2; }
    #worker-dash-body .task-tab .to-do-list .to-do-item .footer a {
      margin-right: 1em;
      font-weight: 300; }
    #worker-dash-body .task-tab .to-do-list .to-do-item .footer .skip-task-link {
      float: right;
      margin-right: 0;
      font-size: 0.8em; }
    #worker-dash-body .task-tab .to-do-list .to-do-item #new-to-do-comment-notice {
      color: #61c161;
      margin: 0px 0px 3px 0px;
      padding: 10px;
      border: 1px solid #baffc0;
      background-color: #f8fff8;
      display: none; }
    #worker-dash-body .task-tab .to-do-list .to-do-item #new-to-do-comment-question {
      color: white;
      margin: 0px 0px 3px 0px;
      padding: 10px;
      background-color: #277FE2;
      display: none; }
    #worker-dash-body .task-tab .to-do-list .to-do-item #confirm-todo {
      margin: 8px 0 0 0;
      display: none;
      background-color: #615d5d;
      font-weight: 900; }
    #worker-dash-body .task-tab .to-do-list .to-do-item .to-do-comments {
      display: none; }
      #worker-dash-body .task-tab .to-do-list .to-do-item .to-do-comments h2 {
        margin: 5px 0 5px 0; }
      #worker-dash-body .task-tab .to-do-list .to-do-item .to-do-comments .to-do-comment .pic img {
        float: left;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        width: 30px;
        margin-right: 10px; }
      #worker-dash-body .task-tab .to-do-list .to-do-item .to-do-comments .to-do-comment .body {
        width: 90%;
        float: left; }
      #worker-dash-body .task-tab .to-do-list .to-do-item .to-do-comments #to-do-comment-template {
        display: none; }
    #worker-dash-body .task-tab .to-do-list .to-do-item .new-to-do-comment {
      margin-top: 5px;
      width: 100%;
      height: 32px;
      border: 1px solid #e6dfdf;
      padding: 4px 0 0 10px;
      font-size: 14px;
      resize: none;
      outline: none; }
    #worker-dash-body .task-tab #to-do-unfinished-template {
      display: none; }
    #worker-dash-body .task-tab #feedback h2 {
      margin: 35px 0 20px 0;
      font-size: 1em;
      color: #277FE2; }
    #worker-dash-body .task-tab #feedback button {
      background-color: #277FE2; }
    #worker-dash-body .task-tab #feedback textarea {
      border-color: #e5e5e5;
      width: 100%;
      height: 120px;
      padding: 25px; }
  #worker-dash-body hr.after-details {
    margin: 30px 0 0 -32px;
    border-color: #eaebec; }
  #worker-dash-body #center-panel {
    background-color: #FBFBFB;
    padding-top: 25px;
    margin-left: 0; }
    #worker-dash-body #center-panel #center-panel-header {
      color: #9B9595;
      padding: 10px 0 20px 32px; }
      #worker-dash-body #center-panel #center-panel-header #not-started-warning {
        color: #277FE2; }
      #worker-dash-body #center-panel #center-panel-header #task-started-counter {
        color: #67D971;
        display: none; }
      #worker-dash-body #center-panel #center-panel-header h2 {
        font-size: 14px; }
      #worker-dash-body #center-panel #center-panel-header h1 {
        margin: 0;
        font-size: 30px;
        font-weight: 100; }
    #worker-dash-body #center-panel .ui-tabs .ui-tabs-panel {
      border-top: 1px solid #dadada;
      margin: 0 -10px 0 -7px;
      padding: 30px 0 0 40px; }
    #worker-dash-body #center-panel .ui-widget-content .content {
      max-width: 40em; }
    #worker-dash-body #center-panel .ui-tabs .ui-tabs-nav li {
      outline: none;
      color: #efefef;
      font-size: 14px;
      padding: 8px 15px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: #efefef;
      margin-right: 7px; }
      #worker-dash-body #center-panel .ui-tabs .ui-tabs-nav li:first-child {
        margin-left: 24px; }
      #worker-dash-body #center-panel .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        border: 1px solid #dadada;
        border-bottom: none;
        background-color: #FBFBFB; }
      #worker-dash-body #center-panel .ui-tabs .ui-tabs-nav li a {
        outline: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: gray;
        font-weight: bold; }

#chat-panel {
  display: none;
  position: absolute;
  top: 90px;
  right: 0;
  height: 100%;
  width: 700px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 3px 9px 20px 6px #cacaca;
  -moz-box-shadow: 3px 9px 20px 6px #cacaca;
  box-shadow: 3px 9px 20px 6px #cacaca; }
  #chat-panel #header h1 {
    background: #FBFBFB;
    padding: 20px;
    margin-top: 0;
    font-weight: lighter;
    font-size: 21px;
    color: black;
    border-bottom: 1px solid #dadada; }
  #chat-panel #header #chat-links {
    position: absolute;
    right: 29px;
    top: 22px; }
    #chat-panel #header #chat-links span {
      color: #5a5a5a;
      margin-left: 13px;
      background-color: #efefef;
      border-radius: 20px;
      padding: 9px;
      font-size: 14px;
      cursor: pointer; }
      #chat-panel #header #chat-links span.active {
        background-color: #dadada; }
  #chat-panel .message {
    margin: 10px; }
    #chat-panel .message .user-pic {
      float: left;
      width: 40px;
      margin-right: 10px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px; }
    #chat-panel .message .body {
      float: left;
      background-color: #dadada;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 8px; }
  #chat-panel .mine .user-pic {
    float: right; }
  #chat-panel .mine .body {
    margin-right: 10px;
    float: right;
    background-color: #277FE2;
    color: white; }
  #chat-panel #new-message textarea {
    border: none;
    margin-top: -8px;
    width: 100%;
    height: 36px;
    padding: 10px;
    color: #6d6d6d; }
    #chat-panel #new-message textarea::-webkit-input-placeholder {
      color: #dbdbdb; }

#login-container {
  margin: 25px; }
  #login-container h1 {
    color: #277FE2; }
  #login-container input {
    outline: none;
    height: 35px;
    border: 1px solid gray;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-bottom: 10px;
    width: 250px;
    padding: 10px; }
  #login-container input[type=checkbox] {
    width: 30px;
    margin-bottom: 0; }
  #login-container label.checkbox {
    position: relative;
    top: -9px;
    left: -5px; }
  #login-container input[type="submit"] {
    border: none;
    background-color: #277FE2;
    color: white; }
  #login-container #login-error {
    margin: 20px 0; }
    #login-container #login-error div {
      color: red; }

#add-task-container {
  margin: 25px; }
  #add-task-container h1 {
    color: #277FE2; }
  #add-task-container input {
    outline: none;
    height: 35px;
    border: 1px solid gray;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px; }
  #add-task-container input[type="submit"] {
    border: none;
    background-color: #277FE2;
    color: white;
    width: 200px; }
  #add-task-container #login-error {
    margin: 20px 0; }
    #add-task-container #login-error div {
      color: red; }

#tasks-page {
  padding: 25px; }
  #tasks-page h1 {
    color: #277FE2; }

#war-header {
  padding: 3px 0 0 0px;
  height: 19px;
  background-color: #277FE2;
  color: white;
  font-size: 0.8em; }
  #war-header a {
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 10px; }

#war-container {
  min-width: 1100px;
  background-color: #3a3a3a;
  font-size: 12px;
  height: 100%; }
  #war-container div, #war-container span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #war-container .task {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-size: 14px;
    margin: 2px;
    text-align: center;
    background-color: #212121;
    padding: 3px;
    width: 98%;
    height: 26px;
    float: left; }
    #war-container .task:hover {
      border: 1px solid black;
      padding-top: 3px;
      cursor: pointer;
      opacity: 0.8; }
    #war-container .task.marketing {
      background-color: #d4ffcf; }
    #war-container .task.design {
      background-color: #ffd8d3; }
    #war-container .task.content {
      background-color: #d7e6ff; }
    #war-container .task.development {
      background-color: #f5eff8; }
    #war-container .task.other {
      background-color: #b7b1ba; }
  #war-container #grab-panel {
    height: 100%;
    padding: 4px;
    border-right: 1px solid gray;
    background-color: black; }
    #war-container #grab-panel #grab-panel-search input {
      margin: 2px -7px 3px 2px;
      width: 98%; }
    #war-container #grab-panel .section strong {
      color: white; }
    #war-container #grab-panel .task {
      width: 48%; }
  #war-container .chats #chat-window-template {
    display: none; }
  #war-container .chat {
    height: 200px;
    background-color: #dedede;
    margin: 10px; }
    #war-container .chat.active {
      background-color: white; }
    #war-container .chat .list {
      border-right: 1px solid #9B9595;
      padding: 4px; }
      #war-container .chat .list .task {
        height: 15px;
        padding-top: 0;
        font-size: 10px; }
    #war-container .chat .chat-body {
      padding: 4px; }
      #war-container .chat .chat-body header {
        background-color: #efefef;
        position: relative; }
      #war-container .chat .chat-body .comments {
        overflow-y: scroll;
        height: 150px; }
      #war-container .chat .chat-body comment {
        display: block; }
      #war-container .chat .chat-body footer {
        border-top: 1px solid #d6d5d5;
        margin-left: -4px; }
        #war-container .chat .chat-body footer input {
          width: 92%;
          border: none;
          margin: 0;
          height: 25px;
          outline: none;
          padding-left: 8px;
          background-color: transparent; }
  #war-container .new-customer {
    padding: 10px; }
    #war-container .new-customer h1 {
      margin: 0px 0px 10px 0px;
      color: #277FE2;
      font-size: 15px;
      font-weight: bold; }
    #war-container .new-customer input {
      width: 92%;
      border: none;
      border-bottom: 1px solid #d6d5d5;
      margin: 0;
      height: 25px;
      outline: none; }

/*# sourceMappingURL=main.css.map */
