$blue: #277FE2
$green: #67D971
$gray1: #FBFBFB
$gray2: #f8f8f8
$gray3: #dadada
$gray4: #9B9595
$gray5: #efefef
$black: #615d5d

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-stroke: 0.75px rgba(0, 0, 0, 0.05)

hr
  border: none
  border-top: 1px solid $gray3

a
  text-decoration: none
  font-weight: 100

img
  width: 100%

.select2-container
  width: 100%

.rank-pill
  background-color: gray
  -webkit-border-radius: 25px
  -moz-border-radius: 25px
  border-radius: 25px
  font-size: 11px
  color: white
  padding: 6px 14px
  text-transform: uppercase
  font-weight: bold
  letter-spacing: -0.35px
  &.rank-9
    background-color: #2c2c2c
    color: white
  &.rank-8
    background-color: purple
    color: white
  &.rank-7
    background-color: #ff243a
    color: white
  &.rank-6
    background-color: #ffcf64
    color: black

button
  border: none
  color: white
  background-color: $green
  width: 120px
  height: 40px
  margin: 20px 0 0 0
  font-size: 15px
  //padding-top: 7px

#worker-dash-header
  height: 26px
  padding: 32px
  background-color: $blue

  #logo
    max-width: 200px
    filter: brightness(0) invert(1)

  #header-account
    float: right
    margin-top: 5px
    a
      color: white
      font-weight: bold
      margin-left: 30px

#worker-dash-body
  background-color: $gray1
  color: #555656
  min-width: 1155px
  #start-button-and-team
    height: 110%
    max-width: 320px
    background-color: $gray2
    padding: 0px 25px 20px 20px
    border-right: 1px solid $gray3

    hr
      margin: 12px -25px 0 -60px

    #skip-task
      font-size: 14px
      font-weight: bold
      color: $gray4
      margin: 10px 0 0px 0
      display: block
      text-align: right

    #start-task
      width: 100%
      height: 60px
      outline: none
      font-weight: bold
      display: none

    #finish-task
      width: 100%
      height: 60px
      outline: none
      font-weight: bold
      background-color: $blue
      display: none

    #team-member-card
      display: none
    .team-member-card
      &.loading
        display: none
        img
          margin-left: 126px
          width: auto
          height: 60px
      color: $gray4
      margin: 30px 0 0 0
      position: relative
      border: 1px solid $gray3
      background-color: $gray1

      .rank-pill
        position: absolute
        top: -8px
        right: 15px

      .name
        margin-top: 5px
        font-weight: bold

      .progress
        margin-top: 4px
        color: $green
        width: 100%
        .percent
          float: left
          width: 14%
        .bar
          position: relative
          top: 2px
          width: 81%
          float: left
          height: 12px
          background-color: $gray3
          -webkit-border-radius: 20px
          -moz-border-radius: 20px
          border-radius: 20px
      .pic-container img
        width: 70%
        margin: 10px
        -webkit-border-radius: 50px
        -moz-border-radius: 50px
        border-radius: 50px
        box-shadow: 0px 0px 10px $gray3

      .rank
        position: absolute

      .actions
        text-align: right
        font-size: 13px
        margin-right: 10px
        a
          color: $gray4
          &:not(:last-child)
            margin-right: 7px

  #accept-timer
    font-size: 2em
    margin-left: 6px

  #task-details-loading
    width: 200px
    margin: 100px 0 0 200px
  .task-tab
    display: none
    .task-details
      font-size: 16px
      line-height: 1.4em
      color: #696f79
      h1
        font-weight: lighter
        color: #555656
        margin-bottom: 0
    .to-do-list
      h1
        color: $blue
        font-size: 22px
        margin-bottom: 40px
      h2
        color: $blue
        font-size: 16px
        margin-bottom: 20px


      .to-do-item
        .assets
          a
            margin-right: 1em
            font-size: .8em
            color: $blue
        .footer
          a
            margin-right: 1em
            font-weight: 300
          .skip-task-link
            float: right
            margin-right: 0
            font-size: .8em
        #new-to-do-comment-notice
          color: #61c161
          margin: 0px 0px 3px 0px
          padding: 10px
          border: 1px solid #baffc0
          background-color: #f8fff8
          display: none
        #new-to-do-comment-question
          color: white
          margin: 0px 0px 3px 0px
          padding: 10px
          background-color: $blue
          display: none
        #confirm-todo
          margin: 8px 0 0 0
          display: none
          background-color: $black
          font-weight: 900
        .to-do-comments
          display: none
          h2
            margin: 5px 0 5px 0
          .to-do-comment
            .pic img
              float: left
              -webkit-border-radius: 25px
              -moz-border-radius: 25px
              border-radius: 25px
              width: 30px
              margin-right: 10px
            .body
              width: 90%
              float: left
          #to-do-comment-template
            display: none
        .new-to-do-comment
          margin-top: 5px
          width: 100%
          height: 32px
          border: 1px solid #e6dfdf
          padding: 4px 0 0 10px
          font-size: 14px
          resize: none
          outline: none

    #to-do-unfinished-template
      display: none

    #feedback
      h2
        margin: 35px 0  20px 0
        font-size: 1em
        color: $blue
      button
        background-color: $blue
      textarea
        border-color: #e5e5e5
        width: 100%
        height: 120px
        padding: 25px

  hr.after-details
    margin: 30px 0 0 -32px
    border-color: #eaebec


  #center-panel
    background-color: $gray1
    padding-top: 25px
    margin-left: 0
    // tabs style
    #center-panel-header
      #not-started-warning
        color: $blue
      #task-started-counter
        color: $green
        display: none
      color: $gray4
      padding: 10px 0 20px 32px
      h2
        font-size: 14px
      h1
        margin: 0
        font-size: 30px
        font-weight: 100


    .ui-tabs .ui-tabs-panel
      border-top: 1px solid $gray3
      margin: 0 -10px 0 -7px
      padding: 30px 0 0 40px
    .ui-widget-content
      .content
        max-width: 40em
    .ui-tabs .ui-tabs-nav li
      outline: none
      color: #efefef
      font-size: 14px
      padding: 8px 15px
      border-top-left-radius: 8px
      border-top-right-radius: 8px
      background-color: $gray5
      margin-right: 7px
      &:first-child
        margin-left: 24px
      &.ui-tabs-active
        border: 1px solid $gray3
        border-bottom: none
        background-color: $gray1
      a
        outline: none
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        color: gray
        font-weight: bold

#chat-panel
  display: none
  position: absolute
  top: 90px
  right: 0
  height: 100%
  width: 700px
  background-color: $gray2
  -webkit-box-shadow: 3px 9px 20px 6px #cacaca
  -moz-box-shadow: 3px 9px 20px 6px #cacaca
  box-shadow: 3px 9px 20px 6px #cacaca
  #header
    h1
      background: $gray1
      padding: 20px
      margin-top: 0
      font-weight: lighter
      font-size: 21px
      color: black
      border-bottom: 1px solid $gray3
    #chat-links
      position: absolute
      right: 29px
      top: 22px
      span
        color: #5a5a5a
        margin-left: 13px
        background-color: $gray5
        border-radius: 20px
        padding: 9px
        font-size: 14px
        cursor: pointer
        &.active
          background-color: $gray3
  .message
    margin: 10px
    .user-pic
      float: left
      width: 40px
      margin-right: 10px
      -webkit-border-radius: 30px
      -moz-border-radius: 30px
      border-radius: 30px
    .body
      float: left
      background-color: $gray3
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
      padding: 8px
  .mine
    .user-pic
      float: right
    .body
      margin-right: 10px
      float: right
      background-color: $blue
      color: white

  #new-message
    textarea
      border: none
      margin-top: -8px
      width: 100%
      height: 36px
      padding: 10px
      color: #6d6d6d
      &::-webkit-input-placeholder
        color: #dbdbdb


// LOGIN //////////////////////////////
#login-container
  margin: 25px
  h1
    color: $blue
  input
    outline: none
    height: 35px
    border: 1px solid gray
    border-radius: 2px
    -webkit-border-radius: 2px
    margin-bottom: 10px
    width: 250px
    padding: 10px
  input[type=checkbox]
    width: 30px
    margin-bottom: 0
  label.checkbox
    position: relative
    top: -9px
    left: -5px
  input[type="submit"]
    border: none
    background-color: $blue
    color: white
  #login-error
    margin: 20px 0
    div
      color: red

// ADD TASK //////////////////////////////
#add-task-container
  margin: 25px
  h1
    color: $blue
  input
    outline: none
    height: 35px
    border: 1px solid gray
    border-radius: 2px
    -webkit-border-radius: 2px
    margin-bottom: 10px
    width: 100%
    padding: 10px
  input[type="submit"]
    border: none
    background-color: $blue
    color: white
    width: 200px
  #login-error
    margin: 20px 0
    div
      color: red


// TASKS PAGE ///////////////////////////////////
#tasks-page
  padding: 25px
  h1
    color: $blue

















//////////////////////////////////////
// War Room //////////////////////////
//////////////////////////////////////
#war-header
  padding: 3px 0 0 0px
  height: 19px
  background-color: $blue
  color: white
  font-size: 0.8em
  a
    color: white
    font-weight: bold
    float: right
    margin-right: 10px

#war-container
  min-width: 1100px
  background-color: #3a3a3a
  font-size: 12px
  height: 100%
  div, span
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

  .task
    -moz-user-select: none
    -ms-user-select: none
    -webkit-user-select: none
    font-size: 14px
    margin: 2px
    text-align: center
    background-color: #212121
    padding: 3px
    width: 98%
    height: 26px
    float: left
    &:hover
      border: 1px solid black
      padding-top: 3px
      cursor: pointer
      opacity: 0.8
    &.marketing
      background-color: #d4ffcf
    &.design
      background-color: #ffd8d3
    &.content
      background-color: #d7e6ff
    &.development
      background-color: #f5eff8
    &.other
      background-color: #b7b1ba

  #grab-panel
    height: 100%
    //min-width: 300px
    padding: 4px
    border-right: 1px solid gray
    background-color: black
    #grab-panel-search
      input
        margin: 2px -7px 3px 2px
        width: 98%
    .section
      strong
        color: white
    .task
      width: 48%
  .chats
    #chat-window-template
      display: none
  .chat
    height: 200px
    background-color: #dedede
    margin: 10px
    &.active
      background-color: white
    .list
      border-right: 1px solid $gray4
      padding: 4px
      .task
        height: 15px
        padding-top: 0
        font-size: 10px
    .chat-body
      padding: 4px
      header
        background-color: $gray5
        position: relative
      .comments
        overflow-y: scroll
        height: 150px
      comment
        display: block
      footer
        border-top: 1px solid #d6d5d5
        margin-left: -4px
        input
          width: 92%
          border: none
          margin: 0
          height: 25px
          outline: none
          padding-left: 8px
          background-color: transparent

  .new-customer
    padding: 10px
    h1
      margin: 0px 0px 10px 0px
      color: $blue
      font-size: 15px
      font-weight: bold
    input
      width: 92%
      border: none
      border-bottom: 1px solid #d6d5d5
      margin: 0
      height: 25px
      outline: none
