hr {
  border: none;
  border-top: 1px solid #dadada; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.rank-pill {
  background-color: gray;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  font-size: 11px;
  color: white;
  padding: 6px 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.35px; }
  .rank-pill.rank-9 {
    background-color: #2c2c2c;
    color: white; }
  .rank-pill.rank-8 {
    background-color: purple;
    color: white; }
  .rank-pill.rank-7 {
    background-color: #ff243a;
    color: white; }
  .rank-pill.rank-6 {
    background-color: #ffcf64;
    color: black; }

button {
  border: none;
  color: white;
  background-color: #67D971;
  width: 120px;
  height: 40px;
  margin: 20px 0 0 0; }

#worker-dash-header {
  display: flex;
  height: 26px;
  padding: 32px;
  background-color: #277FE2; }
  #worker-dash-header #logo {
    max-width: 200px;
    filter: brightness(0) invert(1); }

#worker-dash-body {
  background-color: #FBFBFB;
  color: #555656; }
  #worker-dash-body #start-button-and-team {
    max-width: 320px;
    background-color: #f8f8f8;
    padding: 0px 25px 20px 20px;
    border-right: 1px solid #dadada; }
    #worker-dash-body #start-button-and-team hr {
      margin: 12px -25px 0 -60px; }
    #worker-dash-body #start-button-and-team #skip-task {
      font-size: 14px;
      font-weight: bold;
      color: #9B9595;
      margin: 10px 0 0px 0;
      display: block;
      text-align: right; }
    #worker-dash-body #start-button-and-team #start-task {
      width: 100%;
      height: 60px;
      outline: none;
      font-weight: bold; }
    #worker-dash-body #start-button-and-team .team-member-card {
      color: #9B9595;
      margin: 30px 0 0 0;
      position: relative;
      border: 1px solid #dadada;
      background-color: #FBFBFB; }
      #worker-dash-body #start-button-and-team .team-member-card .rank-pill {
        position: absolute;
        top: -8px;
        right: 15px; }
      #worker-dash-body #start-button-and-team .team-member-card .name {
        margin-top: 5px;
        font-weight: bold; }
      #worker-dash-body #start-button-and-team .team-member-card .progress {
        margin-top: 4px;
        color: #67D971;
        width: 100%; }
        #worker-dash-body #start-button-and-team .team-member-card .progress .percent {
          float: left;
          width: 14%; }
        #worker-dash-body #start-button-and-team .team-member-card .progress .bar {
          position: relative;
          top: 2px;
          width: 81%;
          float: left;
          height: 12px;
          background-color: #dadada;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px; }
      #worker-dash-body #start-button-and-team .team-member-card .pic-container img {
        width: 70%;
        margin: 10px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        box-shadow: 0px 0px 10px #dadada; }
      #worker-dash-body #start-button-and-team .team-member-card .rank {
        position: absolute; }
      #worker-dash-body #start-button-and-team .team-member-card .actions {
        text-align: right;
        font-size: 13px;
        margin-right: 10px; }
        #worker-dash-body #start-button-and-team .team-member-card .actions a {
          color: #9B9595; }
          #worker-dash-body #start-button-and-team .team-member-card .actions a:not(:last-child) {
            margin-right: 7px; }
  #worker-dash-body .task-tab .task-details {
    font-size: 16px;
    line-height: 1.4em; }
    #worker-dash-body .task-tab .task-details h1 {
      font-weight: lighter;
      color: #555656;
      margin-bottom: 0; }
  #worker-dash-body .task-tab .to-do-list h1 {
    color: #277FE2;
    font-size: 22px;
    margin-bottom: 40px; }
  #worker-dash-body hr.after-details {
    margin: 30px 0 0 -38px;
    border-color: #f8f8f8; }
  #worker-dash-body #center-panel {
    background-color: #FBFBFB;
    padding-top: 63px;
    margin-left: -4px; }
    #worker-dash-body #center-panel .ui-tabs .ui-tabs-panel {
      border-top: 1px solid #dadada;
      margin: 0 -10px 0 -10px;
      padding: 30px 0 0 40px; }
    #worker-dash-body #center-panel .ui-widget-content .content {
      max-width: 40em; }
    #worker-dash-body #center-panel .ui-tabs .ui-tabs-nav li {
      outline: none;
      color: #efefef;
      font-size: 14px;
      padding: 8px 15px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: #efefef;
      margin-right: 7px; }
      #worker-dash-body #center-panel .ui-tabs .ui-tabs-nav li:first-child {
        margin-left: 24px; }
      #worker-dash-body #center-panel .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        border: 1px solid #dadada;
        border-bottom: none;
        background-color: #FBFBFB; }
      #worker-dash-body #center-panel .ui-tabs .ui-tabs-nav li a {
        outline: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: gray;
        font-weight: bold; }

/*# sourceMappingURL=main.css.map */
