@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');

body.home {
	background: url("../images/header-image.jpg") no-repeat !important;
	background-attachment: fixed !important;
	background-position: center top !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif !important;
	color: #606265 !important;
}

.gray {
	background: #f3f4f5;
}

.section {
	padding: 30px 0;
}

.navbar { 
	background: transparent !important;
	border: none !important;
}

.navbar-right { margin-top: 15px !important; }

.navbar li a { 
	font-family: 'Montserrat', sans-serif !important;
	color: #fff !important;
	padding: 7px 20px !important;
}

.navbar li a:hover {
	background: none !important;
	color: #81cf37 !important;
}

.navbar li.signup a {
	border: 1px solid #fff !important;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;

}

.top-nav-collapse {
	background: rgba(0, 0, 0, 0.8) !important;
	padding-bottom: 15px !important;
}

#header {
	padding: 150px 0 50px;
}

#header .panel {
	background: rgba(255, 255, 255, 0.5);
}

#header .panel:hover {
	background: rgba(255, 255, 255, 1.0);
}

#header h1.section-title {
	color: #fff !important;
	margin: 0 !important;
	font-size: 50px !important;
}

#header .section-subtitle {
	color: #fff !important;
	font-size: 16px !important;
	margin: 15px 0;
}

#header h4.project-category-title {
	color: #fff !important;
	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: 700 !important;
}

#header .category-name {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 700 !important;
	color: #5a5e62;
}

#header .get-started {
	background: #83d036 !important;
	color: #fff !important;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 700 !important;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	padding: 15px 40px !important;
	margin-top: 20px;
	border-color: #83d036 !important;
	box-shadow: none !important;
}

#header .get-started:hover {
	background: #59a809 !important;
	border-color: #59a809 !important;
}

#header #projectcategories .selected .panel {
	background: #fff !important;
}

#header .project-category-item { width: 150px !important; }

#header .checkbox label::before {
	width: 25px !important;
	height: 25px !important;
}

#header .checkbox label::after {
	width: 20px !important;
	height: 20px !important;
	font-size: 16px !important;
}

	.btn:hover {
		background: #000 !important;
	}

.checkbox-info input[type="checkbox"]:checked {

	#header #projectcategories .selected .panel {
		background: #fff !important;
	}

}

#projectCategoriesOverlay .badge {
	background: none !important; 
}

#projectCategoriesOverlay .list-group-item { line-height: 48px !important; }

#process {

}
	
	#process li {
		vertical-align: middle !important;
		display: table-cell !important;
	}

	#process h2 {
		color: #0a0a0a !important;
		font-weight: 700 !important;
		text-align: center;
		margin-bottom: 40px !important;
	}

	#process .panel { 
		border: none !important;
		background: transparent !important; 
		box-shadow: none !important;
	}

	#process .process-description {
		color: #414140 !important;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
	}

#benefits {
	
	background: #fff !important;

}

	#benefits ul.benefits {

		color: #414140 !important;
		font-family: 'Roboto', sans-serif;
		font-size: 18px !important;
		margin: 0 !important;
		padding: 0 !important;
		padding: 100px 0 61px !important;
		list-style-type: none;
	
	}

	#benefits ul.benefits li {
		padding: 0 0 10px 40px !important;
		background: url('../images/benefits-list-check.png') no-repeat;
		margin-bottom: 20px !important;
	}

	.benefits-image {
		
		margin: -75px 0 !important;
	
	}

#marketing-and-development {
	background: url("../images/section-bg.jpg") no-repeat !important;
	background-attachment: fixed !important;
	background-position: center top !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	padding: 80px 0;
}

	#marketing-and-development h2.section-title {
		color: #fff !important;
		text-align: center !important;
		font-weight: 700 !important;
	}
	#marketing-and-development .panel {
		padding: 15px 0 !important;
	}
	#marketing-and-development .services-image { margin-bottom: 20px; }
	#marketing-and-development .services-pricing { margin: 50px 0; }
	#marketing-and-development .services-pricing .services-title {
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700 !important;
		color: #414140 !important;
		margin-bottom: 0;
	}
	#marketing-and-development .services-pricing .services-price {
		font-family: 'Roboto', sans-serif;
		color: #414140 !important;
	}

	#marketing-and-development .services-pricing a:hover {
		text-decoration: none !important;
	}

	#marketing-and-development .services-pricing a:hover .panel {
		background: #317eac;
		padding: 13px 0 13px !important;
	}

	#marketing-and-development .services-pricing a:hover p {
		color: #fff !important;
	}

	#marketing-and-development .services-pricing a:hover img {
		background: #fff !important;
		padding: 2px !important;
	}

	#marketing-and-development button {
		background: #13adff !important;
		border-color: #fff !important;
		text-transform: lowercase !important;
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700 !important;
		color: #fff !important;
		padding: 7px 40px;
		-webkit-border-radius: 20px 20px 20px 20px;
		border-radius: 20px 20px 20px 20px;
		border-color: #fff !important;
		box-shadow: none !important;
	}

	#marketing-and-development button:hover {
		background: #317eac !important;
		border-color: #317eac !important;
		color: #fff !important;
	}

#joincommunity {
	background: #fff;
}

	#joincommunity.section { padding: 0 !important; }

	.community-join {
		padding: 96px 0;
	}

	.community-join .heading { margin-bottom: 20px; }

	.community-join h1 {
		font-weight: 700 !important;
		color: #0a0a0a !important;
		margin: 0;
	}

	.community-join h4 {
		font-weight: 700 !important;
		color: #0093d8 !important;
	}

	.community-join .content {
		margin-bottom: 40px; 
	}

	#joincommunity .img-responsive { display: inline !important; }
	#joincommunity .col-md-5 p { margin-bottom: 0 !important; }

	.community-join p {
		font-family: 'Roboto', sans-serif;
		color: #414140;
	}

	.community-join .footer button {
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700 !important;
		background: #0093d8 !important;
		color: #fff !important;
		text-transform: lowercase;
		border-color: #0093d8 !important;
		-webkit-border-radius: 10px 10px 10px 10px;
		border-radius: 10px 10px 10px 10px;
		padding: 7px 30px !important;
		border-color: #0093d8 !important;
		box-shadow: none !important;
	}

	.community-join .footer button:hover {
		background: #317eac !important;
		border-color: #317eac !important;
		color: #fff !important;
	}

#testimonials {
	background: url("../images/testimonials-section-bg.jpg") no-repeat !important;
	background-attachment: fixed !important;
	background-position: center top !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

	#testimonials h2.section-title {
		color: #fff;
		margin-bottom: 30px;
	}

	#testimonials h3.name {
		font-family: 'Roboto', sans-serif !important;
		font-weight: 500 !important;
		color: #414140 !important;
		margin: 0 !important;
		font-size: 18px !important;
	}

	#testimonials h4.company {
		font-family: 'Roboto', sans-serif !important;
		font-style: italic !important;
		color: #414140 !important;
		margin: 0 !important;
		font-size: 14px !important;
	}

	#testimonials .panel-heading .row {
		/*vertical-align: middle !important;
		display: table-cell !important;
		width: 100% !important;*/
	}

	#testimonials .panel-heading p { margin: 0 !important; }


	#testimonials .panel-heading {
		background: #f3f1ee !important;
	}

	#testimonials .panel-body blockquote {
		font-family: 'Roboto', sans-serif;
		color: #414140 !important;
		font-size: 16px !important;
	}

	.carousel-inner .item  .col-md-9 { padding: 10px 20px !important; }
	.carousel-control.right, .carousel-control.left { background: none !important; }

#footer {
	background: #fff !important;
	padding: 30px 0 0;
	font-family: 'Roboto', sans-serif;
	color: #414140 !important;
}

	#footer a { color: #414140 !important; }

	#footer ul {
		list-style-type: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	#footer ul.social-icons li {
		padding: 0 !important;
	}

	#footer #bootom-bar {
		padding: 10px 0;
	}

	#footer .copyright {
		color: #414140;
		font-family: 'Roboto', sans-serif;
		margin: 0 !important;
		line-height: 41px;
		text-align: center;
	}

	#footer .widget-title {
		text-transform: uppercase !important;
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700 !important;
	}

	#footer #contacts li {
		margin-bottom: 15px;
	}

#bottom-bar {
	border-top: 1px solid #f3f1ee;
	margin-top: 20px;
}

	#bottom-bar .contact-details {
		margin-top: 10px !important;
	}


#projectCategoriesOverlay .modal-header {
	background: url('../images/overlay-header-bg.jpg') no-repeat !important;
	background-position: center bottom;
	padding: 25px 40px;
}

#projectCategoriesOverlay .modal-header .modal-title {
	font-family: 'Montserrat', sans-serif !important;
	color: #fff !important;
	font-weight: bold;
	font-size: 20px;
	margin-top: 25px;
}

#projectCategoriesOverlay .modal-header p {
	font-family: 'Montserrat', sans-serif !important;
	color: #fff !important;
}

#projectCategoriesOverlay .modal-body {
	padding: 25px 40px !important;
}

#projectCategoriesOverlay .modal-body p.notice {
	color: #414140;
	font-family: 'Roboto', sans-serif;
}

#projectCategoriesOverlay .modal-body .list-group-item { 
	padding: 0 15px !important; 
	font-family: 'Montserrat', sans-serif !important;
	font-weight: bold !important;
	color: #5a5e62;
}

#projectCategoriesOverlay .modal-body h4 {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: bold !important;
	font-size: 14px !important;
	margin: 20px 0 !important;
	color: #0a0a0a !important;
}

#projectCategoriesOverlay .btn {
	background: #0093d8 !important;
	border-color: #0093d8 !important;
	font-family: 'Montserrat', sans-serif !important;
	font-weight: bold !important;
	-webkit-border-radius: 25px 25px 25px 25px;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	padding: 8px 30px !important;
}

.modal-open .body-container {
    -webkit-filter: blur(5px) !important;
    -moz-filter: blur(5px) !important;
    -o-filter: blur(5px) !important;
    -ms-filter: blur(5px) !important;
    filter: blur(5px) !important;
    filter: url("https://gist.githubusercontent.com/amitabhaghosh197/b7865b409e835b5a43b5/raw/1a255b551091924971e7dee8935fd38a7fdf7311/blur".svg#blur) !important;
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5') !important;
}

.dashboard #main-body {
	background: #fbfbfb !important;
}

.dashboard nav {
	background: #287fe2 !important;
	-webkit-box-shadow: 0 0 10px 1px #b5b5b5;
	box-shadow: 0 0 10px 1px #b5b5b5;
}

.dashboard .navbar-header { margin-right: 10px; }

.dashboard .nav { margin-top: 8px; }

.dashboard .navbar-brand { margin-left: 20px !important; padding: 7px !important; }

.dashboard .nav li a {
	font-family: 'Montserrat', sans-serif !important;
	color: #fff !important;
	margin: 0 2px;
}

.dashboard .nav li a.active, .dashboard nav li a:hover {
	background: #2573cc !important;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}


.dashboard #sidebar-left {
	padding: 90px 25px 30px;
	background: #f8f8f8 !important;
    border-right: 1px solid #e9eaeb;
}
	#sidebar-left h4.info {
		font-family: 'Roboto', sans-serif;
		color: #555656;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 15px;
	}

	#sidebar-left h4.info span {
		font-weight: 700;
		display: block;
	}

	#sidebar-left .skip {
		font-family: 'Roboto', sans-serif !important;
		font-weight: 500 !important;
		font-size: 12px;
		color: #a0a0a0 !important;
	}

	#sidebar-left .skip span {
		background: #efefef;
		-webkit-border-radius: 15px 15px 15px 15px;
		border-radius: 15px 15px 15px 15px;
		padding: 2px 15px;
		font-weight: 700 !important;
		color: #717171;
		margin-top: -4px;
	}

	#sidebar-left .skip a {
		color: #717171;
	}

	#sidebar-left  #forms {
		margin-top: 50px;
		padding-top: 20px;
		border-top: 3px solid #287fe2;
	}

	#sidebar-left form label {
		color: #555656 !important;
		font-family: 'Roboto', sans-serif !important;
		font-weight: 500 !important;
		font-size: 14px;
		margin-bottom: 10px;
	}

	#sidebar-left form input {
		border: 1px solid #e5e5e5;
		-webkit-border-radius: 5px 5px 5px 5px;
		border-radius: 5px 5px 5px 5px;
		background: #fff;
		color: #555656;
		padding: 20px 15px !important;
	}

	#sidebar-left form .form-group { margin-bottom: 15px; }

	#sidebar-left form #form-footer { padding-top: 30px; }

	#sidebar-left form .submit { 
		background: #287fe2 !important;
		border: none !important;
		color: #fff !important;
		margin-bottom: 10px;
		padding: 10px;
	}

	#sidebar-left form .close {
		background: #d9d9d9 !important;
		border: none !important;
		color: #818181 !important;
	}

	#sidebar-left form .btn {
		font-weight: 700 !important;
		font-size: 14px !important;
		font-family: 'Montserrat', sans-serif !important;
		padding: 13px;
	}

.dashboard #content-area {
	padding: 90px 50px 0;
	background: #fbfbfb;
	color: #606265;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

	#search-header { margin-bottom: 50px; }

	#search-header p { margin: 0; }

	#search-header h3 {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		margin: 0 !important;
	}

.dashboard #sidebar-right {
	padding-top: 60px;
	background: #f8f8f8 !important;
    border-left: 1px solid #e9eaeb;
}

	#sidebar-right {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	#sidebar-right .right-pane {
		padding: 0 25px;
		margin-bottom: 30px;
	}

	#sidebar-right li {
		color: #414140 !important;
		font-size: 14px !important;
		font-family: 'Roboto', sans-serif;
		line-height: 25px;
		background: url('../images/checked.png') no-repeat;
		background-position: top left;
		padding-left: 35px;
		margin-bottom: 15px;
	}

	#sidebar-right ul.benefits {
		list-style-type: none;
		padding-left: 0px;
	}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer {
	border-top: 1px solid #e2e2e2;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	color: #5e5e5e;
}

	.footer p { margin-bottom: 0; }

	#footer-links { margin-top: 10px; }

	#footer-links li a {
		color: #414140;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		border-right: 1px solid #414140;
		padding-right: 10px;
	}

	#footer-links li:last-child a {
		border-right: 0 !important;
	}

	#footer-links li a:hover {
		text-decoration: none;
	}

	.footer .copyright {
		text-align: right;
		line-height: 30px;
	}

/* Mobile Responsive Adjustments */

.navbar-toggle { 
	background: #fff !important; 
	color: #000 !important;
}

@media screen and (max-width: 990px) {
	#joincommunity .community-join { padding: 10px 0 !important; }
	#joincommunity.section { padding: 10px 25px !important; }
}

@media screen and (max-width: 615px) {
	#process li { display: block !important; }
	#process li.steps-direction { display: none !important; }
}