h2 {
  color: #05b0ef; }

.select2-container--default {
  width: 100% !important; }

a {
  color: #00aeef; }

#site-header {
  text-align: left;
  height: 20px;
  margin: -10px 0 0 0; }
  #site-header #logo {
    max-width: 200px; }

.container {
  margin-top: 30px; }

#dev-registration-form label {
  font-weight: 500; }

.solution-card {
  float: left;
  margin: 10px;
  background-color: #00aeef;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 280px;
  color: white;
  cursor: pointer;
  border: 1px solid #00aeef; }
  .solution-card p, .solution-card span {
    padding: 14px; }
  .solution-card h2 {
    color: #00aeef;
    font-size: 1.4rem;
    background-color: white;
    margin: 0;
    padding: 18px;
    text-align: center; }
  .solution-card:hover h2 {
    background-color: #e2f8ff; }
  .solution-card .details {
    padding: 14px; }
    .solution-card .details a {
      color: white;
      float: right; }
      .solution-card .details a:hover {
        text-decoration: none;
        font-weight: bold;
        text-align: center; }
    .solution-card .details hr {
      margin: 3px 0 10px 0;
      border: none;
      border-bottom: 1px solid white; }

#worker-dashboard-main {
  border: 0px solid gray; }
  #worker-dashboard-main #team-progress-left-panel {
    border-right: 1px solid #e6e6e6;
    min-width: 285px;
    padding-right: 30px; }
    #worker-dashboard-main #team-progress-left-panel button {
      width: 100%;
      margin: 8px 8px 0 8px; }
    #worker-dashboard-main #team-progress-left-panel h3 {
      margin-left: 10px; }
    #worker-dashboard-main #team-progress-left-panel .team-member-progress {
      border-bottom: 1px solid lightgrey;
      margin-bottom: 10px;
      padding: 0 0 4px 10px; }
      #worker-dashboard-main #team-progress-left-panel .team-member-progress h3 {
        font-size: 14px; }
      #worker-dashboard-main #team-progress-left-panel .team-member-progress img {
        max-width: 49px;
        margin-right: 10px;
        float: left; }
  #worker-dashboard-main #project-details-wrap {
    border-right: 1px solid #e2dede; }
    #worker-dashboard-main #project-details-wrap .num-hours {
      border: 1px solid #00aeef;
      border-radius: 20px;
      font-size: 14px;
      text-align: center;
      background-color: #00aeef;
      color: white; }
  #worker-dashboard-main #getting-started .icons {
    min-width: 80px;
    opacity: 0.6; }
  #worker-dashboard-main #getting-started input[type="checkbox"] {
    margin: 4px 0 0 0;
    width: 30px;
    transform: scale(1.3, 1.3); }
  #worker-dashboard-main #dashboard-chat-panel-right #chat-wrap .messsge-wrap img {
    max-width: 23px; }
  #worker-dashboard-main #dashboard-chat-panel-right #chat-wrap .messsge-wrap span {
    background-color: #e2f8ff;
    border-radius: 20px;
    padding: 6px; }
  #worker-dashboard-main #dashboard-chat-panel-right #chat-wrap .message-right {
    text-align: right; }
    #worker-dashboard-main #dashboard-chat-panel-right #chat-wrap .message-right span {
      background-color: beige; }

/*# sourceMappingURL=global.css.map */
